*{
    padding: 5px;
    margin: 2px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;  
    text-align: center; 
    align-items: center;
} 

body{
    background-color: rgb(0 155 255 );
} 

form{
    font-size: 1rem; 
    flex-direction: column; 
    padding: 50px 0; 
    background-color:#fff; 
    width: 40%; 
    position: relative; 
    top: 75px; 
    left: 100px;
} 
input[type="text"]{  
    padding: 5px;
    margin: 3px; 
    border: 3px solid #ccc; 
    border-radius: 6px; 
    font-size: 1rem;  

    

} 

input[type="email"]{  
    padding: 5px;
    margin: 3px; 
    border: 3px solid #ccc; 
    border-radius: 6px; 
    font-size: 1rem;  
} 

h4{
    text-transform: uppercase; 
    background-color: #0000ffff; 
    color: #fff;   
    text-align: center; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0 .2em black ;

} 
 
input[type="submit"]{
    text-transform: uppercase;
    font-weight: 800;
}

p{
    text-align: center; 
    padding: 15px;


} 

p a{
    text-decoration: none; 
    text-transform: uppercase;
     
    
}  



a:hover{
    color: #000; 
    


}